@font-face{
    font-family: main-font;
    src:url(Alcubierre.otf)
}

div{
    display: block;
}

body{
    font-family: main-font;
    background-color: white;
}

a{
    text-decoration: none;
    color: grey;
}

.main-hero{
    height: 97vh;
}

.inner-main-hero{
    display: flex;
    border-width: 1px;
    border: .1vw solid black;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    background-size: cover;
}

.title-name{
    color: black;
    padding-top: 15vh;
    font-size: 10vw;
}

.title-catch{
    color: black;
    padding-top: 15vh;
    font-size: 4vw;
}

.nav-bar{
    padding-top: 15vh;
    font-size: 4vw;
    color: black;
}

.subject-box{
    height: auto;
}

.inner-subject-box{
    display: flex;
    border-width: 1px;
    border: .1vw solid black;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    background-size: cover;
}

.subject-title{
    padding-top: 10vh;
    font-size: 6vw;
}

.subject-body{
    padding: 10vw;
    font-size: 3vw;
}

.skill-box-big{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 70vw;
    font-size: 5vw;
    background-color: grey;
}

