@font-face{
    font-family: main-font;
    src:url(/resources/Alcubierre.otf)
}

div{
    display: block;
}

body{
    font-family: main-font;
    background: linear-gradient(to top, #ffffff, #ffffff);
}

a{
    text-decoration: none;
    color: black;
    transition: .1s;
}

a:hover{
    animation: button-hover ease .1s;
    color: rgb(255, 174, 174);
}

.main-hero{
    height: 97vh;
    
}

.inner-main-hero{
    display: flex;
    border-width: 1px;
    border: .1vw solid black;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    height: 100%;
    background-size: cover;
    background-color: white;
    box-shadow: 2px 4px 6px rgba(0,0,0,.5);
}

.title-name{
    color: black;
    margin-top: 15vh;
    font-size: 10vw;
    transition: .1s;
}

.title-catch{
    color: black;
    margin-top: 15vh;
    font-size: 4vw;
    transition: .3s;
}

.nav-bar{
    padding-top: 15vh;
    font-size: 4vw;
    color: black;
    transition: .2s;
}

.subject-box{
    height: auto;
}

.inner-subject-box{
    display: flex;
    border-width: 1px;
    border: .1vw solid black;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    height: 100%;
    background-size: cover;
    background-color: white;
    box-shadow: 2px 4px 6px rgba(0,0,0,.5);
}

.subject-title{
    padding-top: 10vh;
    font-size: 6vw;
    font-weight: 500;
}

.subject-body{
    padding: 10vw;
    font-size: 3vw;
}

.skill-box-big{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 70vw;
    font-size: 5vw;
    border-radius: 2vh;
}

.name-skills{
    font-size: 10vh;
}

#python-skill-box{
    background: linear-gradient(to right, #4B8BBE , #FFD43B);
    box-shadow: 2px 4px 6px rgba(0,0,0,.5);
}

#python-skill{
    padding-top: 1.25vh;
    height: 20vh;
    width: auto;
    animation: up-down 5s infinite alternate;
}

#java-skill-box{
    background: linear-gradient(to right, #f89820 33%, #5382a1);
    box-shadow: 2px 4px 6px rgba(0,0,0,.5);
}

#java-skill{
    padding-bottom: 1.25vh;
    height: 20vh;
    width: auto;
    animation: up-down 4.9s infinite alternate;
}

@keyframes up-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(1vh);
    }
}

@keyframes button-hover{
    0%{
        color: inherit;
    }
    100%{
        color: rgb(255, 174, 174);
    }
    
}